{% extends 'base.html.twig' %}

{% block title %}DailyMenu index{% endblock %}

{% block body %}
    <h1>DailyMenu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for daily_menu in daily_menus %}
            <tr>
                <td>{{ daily_menu.id }}</td>
                <td>{{ daily_menu.name }}</td>
                <td>{{ daily_menu.description }}</td>
                <td>{{ daily_menu.createdAt ? daily_menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('daily_menu_show', {'id': daily_menu.id}) }}">show</a>
                    <a href="{{ path('daily_menu_edit', {'id': daily_menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('daily_menu_new') }}">Create new</a>
{% endblock %}
